* {box-sizing: border-box;}

body {
    background-color: rgb(172, 172, 172);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 40px 20px 40px;
    font-size: 18px;
    color: rgb(220, 221, 221);
    text-align: center;
}

h1 {
    text-align: center;
    color: #175566;
}

form {
    max-width: 95%;
    margin: 40px auto;
    padding: 10px 10px;
    background: rgb(220, 221, 221);
    border-radius: 7px;
}

.formButton{
    max-width: 500px;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    background: rgb(220, 221, 221);
    border-radius: 7px;
}

#garib {
    color: rgb(220, 221, 221);
}

#iconsTable {
    margin-left: auto;
    margin-right: auto;
}

.iconHoover {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 20px;
    color: rgb(220, 221, 221);
}

.iconHoover:hover {
    box-shadow: 0 0 2px 1px #175566;
}

.Button {
    background-color: #175566;
    color: #E1E2E2;
    border-radius: 7px;    
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

button:hover {
    color: #175566;
    background: rgb(172, 172, 172);
    border-radius: 7px;
}

img {
    width: 90px;
    height: 90px;
    align-self: center;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    /*width: 50%;*/
}

.tableFill {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    border: 2px solid rgb(172, 172, 172);
    border-collapse: collapse; 
    border-spacing: 0; 
    table-layout: fixed;
}

.buttonsTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.buttonTableData {
    border: 0px;
}

thead {
    border-radius: 5px;
    background-color: #175566;
    border-collapse: collapse;
    color: rgb(220, 221, 221);
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    height: 40px;	
}

tbody {
    color: #175566;
    border-collapse: collapse;
    height: 40px;
}

tr {
    border: 2px solid rgb(172, 172, 172);
    border-collapse: collapse;
    text-align: center;
    height: 40px;
}

.tableRow:hover {
    box-shadow: 0 0 2px 2px #175566;
}

td {
    border: 2px solid rgb(172, 172, 172);
    border-collapse: collapse;
    text-align: center;
    height: 40px;
    overflow: hidden;
    padding: 10px;
}

th {
    border: 2px solid rgb(172, 172, 172);
    border-collapse: collapse;
    text-align: center;
    height: 40px;
}

#tableHeadOne {
    width: 15%;
}

#tableHeadTwo {
    width: 25%;
}

#tableHeadThree {
    width: 30%;
}

#tableHeadFour {
    width: 30%;
}




/*
tr:nth-child(even) td { 
    background: rgb(172, 172, 172); 
    color: #175566;
} 

tr:nth-child(odd) td { 
    background: rgb(220, 221, 221); 
    color: #175566;
}  
*/
